# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/

# Data & outputs
data/raw/*
data/processed/*
outputs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/charts/.gitkeep
!outputs/tables/.gitkeep
!outputs/summaries/.gitkeep
